@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans:wght@400;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


html,body , body > div.root{
    position:relative;
    border:1px solid #fff;
    box-sizing: border-box;
}

header {
    position:fixed;
    top:0;
    left:0;
    padding:16px;
    /* border:1px solid red; */
    width:100%;
    background-color: #fff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
 

.brand-text {
    display:flex;
    align-items: center;
    padding-left:16px;
    justify-content: space-between;
    width:100%;
    max-width:500px;
    flex-wrap:wrap;  
}

.brand-date {
    font-size: 15px;
    color: rgba(51, 46, 40, 1);
    font-weight: 600;
}

.brand-info {
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:16px;
}

.profile-bio {
    display:flex;
    align-items: center;
    gap:8px;
}

.profile-bio .username {
    font-size:14px;
    font-weight:500;
}

.profile-bio .caption {
    font-size:12px;
    margin-top:-4px;
}

.search-bar {
    display:flex;
    align-items: center; 
    border-radius: 5px;
    background-color:rgba(149, 149, 149, 1);
    padding-left:8px;
    background-color:#F9F7F3;
}

.search-bar input {
    outline:0;
    border:none; 
    background-color:#F9F7F3;
    padding:8px 0;
    padding-left:8px;
    /* background: #F9F7F3; */
}

.icon {
    width:25px;
    height:25px;
    border-radius:50%; 
    /* border:1px solid green; */
    /* background: #F9F7F3; */
}

.icon:hover {
    background-color: #F9F7F3;
}



.layout {
     display:flex;
    min-height:calc( 100vh - 80px);
    width:100%; 
    position:relative;
    margin-top:72px; 
}

main,.navbar{
    position: absolute;
    height:inherit;
    min-height:inherit;
}

.navbar { 
    width:220px;
    position:fixed; 
    min-width:0;
    top:0;
    left:0; 
    margin-top:73.8px;
    /* box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.1); */
    border: 1px solid rgba(51, 46, 40, 0.04);
}

ul {
    display:flex;
    flex-direction: column;
    gap:16px;
}
 

li {
    display:flex;
    justify-content: space-around;
    padding:12px 8px;
    border-radius:8px;
    font-size: 13px;
    color: rgba(149, 149, 149, 1);
    align-items: center;
}

li.active,li:hover {
    background: rgba(250, 155, 13, 0.1);
    color: rgba(250, 155, 13, 1);

}



ul,main {
    padding:32px 16px;
}

main { 
    min-width:0; 
    margin-left:220px;
    flex:1; 
    width:calc(100% - 220px)
}

.lead {
    display:flex;
    justify-content: space-between;   
    align-items: center;
}

.bold {
    font-weight:800;
    color: rgba(51, 46, 40, 1);
}

.bold2 {
    padding-left: 30px;
    font-size: 20px;
}

.btn {
    padding:8px;
    border:0;
    outline:0;
    border-radius:4px;
}

.btn.contained {
    background-color:rgba(250, 155, 13, 1);
    color:#fff;
    padding:15px 36px;
    font-size: 15px;
}

.btn:hover {
    background-color: rgb(220, 134, 5);
}
    

.stat-container {
    display: flex;
    flex-wrap:wrap; 
    gap:24px;
    justify-content: space-around;
    margin:40px 0;
}

.stat {
    display:flex;
    width: 200px;
    flex-direction: column;
    text-align: left;
    min-width:0;
    max-width:150px;
    border: 1px solid #EBEBEB;
    /* box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1); */
    border-radius:8px;
    padding:16px;
    gap:8px;
}

.stat-text {
    font-size:10px;
    color: rgba(149, 149, 149, 1);
}

.stat-icon {
    width:35px;
    height:35px;
    border-radius:50%;
    /* border:1px solid green; */
}



li span.stat-icon {
    width:25px;
    height:25px;
    margin:0;
}




/* 
li .text {
    color: rgba(51, 46, 40, 1);
} */
 
